<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">MissiOn</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{{path('freelance_profile')}}" class="sidebar-link">
                <i class="lni lni-home"></i>
                <span>Profil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{path('missions_list_freelance')}}" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Missions</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{path('app_freelance_candidature')}}" class="sidebar-link">
                <i class="lni lni-checkmark-circle"></i>
                <span>Mes Candidature</span>
            </a>
        </li>
        <li class="sidebar-item">
	        <a href="{{ path('app_notificationindex') }}" class="sidebar-link">
	        	<i class="lni lni-popup"></i>
	        	  <span>Notification</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="{{ path('app_logout') }}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Déconnexion</span>
        </a>
    </div>
</aside>