{% extends 'website/admin/layout/base.html.twig' %}

{% block title %}Liste de missions{% endblock %}

{% block body %}
    <h1>Liste des missions</h1>
    <div class="card">
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
              <th>Titre</th>
              <th>description</th>
              <th>Personnel</th>
              <th>debut</th>
              <th>fin</th>
              <th>estimation</th>
              <th>tjm</th>
              <th>niveau</th>
              {# <th>taille_projet</th> #}
              <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>
                    <td> {{ mission.title }} </td>
                    <td> {{ mission.description }} </td>
                    <td> {{ mission.Personel.email }} </td>
                    <td> {{ mission.debut|date('d/m/Y') }} </td>
                    <td> {{ mission.fin|date('d/m/Y') }} </td>
                    <td> {{ mission.estimation }} </td>
                    <td> {{ mission.tjm }} </td>
                    <td> {{ mission.niveau }} </td>
                    {# <td> {{ mission.taille_projet }} </td> #}
                    <td> {{ mission.status }} </td>
                    
                </tr>
            {% else %}
            <td colspan="8">Aucune mission disponible</td>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
</div>
    
{% endblock %}